<clr-main-container>
  <header class="header header-3">
    <div class="branding">
      <a>
        <clr-icon shape="group"></clr-icon>
        <span class="title">Community</span>
      </a>
    </div>
    <div class="header-nav">
      <a class="nav-link"><span class="nav-text">Forums</span></a>
      <a class="nav-link"><span class="nav-text">Blogs</span></a>
    </div>
    <div class="header-actions">

      <!-- chat: ['users'] -> irá buscar um router-outlet com o nome de char e irá carregar
        dentro dele o componente associado à rota users -->
      <a class="nav-link nav-icon" [routerLink]="[{outlets: {chat: ['users']}}]">
        <clr-icon shape="talk-bubbles"></clr-icon>
      </a>

      <a class="nav-link nav-icon">
        <clr-icon shape="logout" (click)="logout()" *ngIf="!userService.isGuest()></clr-icon>
      </a>
    </div>
  </header>
  <div class=" content-container">
          <div class="content-area">
            <!-- necessário utlizar o router-outlet para carregar dinamicamente os componentes com
      base nas rotas da aplicação -->
            <router-outlet></router-outlet>
          </div>
    </div>
</clr-main-container>

<!-- carregando uma rota segundária, que funcionará independente da rota principal -->
<router-outlet name="chat"></router-outlet>
